.card-like {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 30vw;
    margin: 15vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}